
{% if include.enabled == 'false' %}

	<form class="header-search-form">
	    <input type="search" class="col-lg-3 col-sm-2 header-search fadeInLeft" id="exampleInputEmail1" placeholder="Search OpenStack">
	</form>

{% else %}                  

	<div id="gcse">
		<script>
		  (function() {
		    var cx = '000108871792296872333:noj9nikm74i';
		    var gcse = document.createElement('script');
		    gcse.type = 'text/javascript';
		    gcse.async = true;
		    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
		        '//www.google.com/cse/cse.js?cx=' + cx;
		    var s = document.getElementsByTagName('script')[0];
		    s.parentNode.insertBefore(gcse, s);
		  })();
		</script>
		<gcse:search gname="standard"></gcse:search>
	</div>

{% endif %}